.statistics {
  padding-bottom: 100px;

  @include small-tablet {
    padding-bottom: 60px;
  }

  &__title {
    margin-bottom: 88px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    margin-bottom: 84px;

    @media (max-width: 992px) {
      // grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    display: flex;
    align-items: center;

    @media (max-width: 992px) {
      justify-content: flex-start !important;
      flex-direction: column;

      picture {
        margin-bottom: 15px;
      }
    }

    &:nth-child(3n + 1) {
      @media (max-width: 992px) {
        align-items: center;
        justify-content:  center;
        order: -2;
      }

      picture {
        display: flex;
        justify-content: center;
        min-width: 147px;
        margin-right: 25px;

        @media (max-width: 992px) {
          margin-right: 0;
          min-width: initial;
        }
      }
    }

    &:nth-child(3n + 2) {
      align-items: center;
      justify-content: flex-end;

      @media (max-width: 992px) {
        justify-content: center;
        order: -1;
      }

      picture {
        min-width: 65px;
        margin-right: 22px;

        @media (max-width: 992px) {
          min-width: initial;
          margin-right: 0;
        }

        img {
          min-width: 52px;

          @media (max-width: 992px) {
            min-width: initial;
          }
        }
      }

      .statistics__item-text {
        strong {
          min-width: 135px;

          @media (max-width: 992px) {
            min-width: initial;
          }
        }
      }
    }

    &:nth-child(3n + 3) {
      justify-content: flex-end;

      @media (max-width: 992px) {
        justify-content: flex-start;
      }

      picture {
        min-width: 103px;
        margin-right: 25px;

        @media (max-width: 992px) {
          margin-right: 0;
        }
      }

      .statistics__item-text {
        align-items: center;
        min-width: 38px;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;

      @media (max-width: 992px) {
        align-items: center;
        margin-top: auto;
      }

      strong {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        column-gap: 10px;
        max-width: 135px;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        color: var(--accent-color);

        @media (max-width: 992px) {
          margin-bottom: 15px;
          max-width: initial;
          font-size: 36px;
          line-height: 36px;
        }

        @media (max-width: 810px) {
          font-size: 32px;
          line-height: 32px;
        }

        span {
          display: inline-block;
          font-weight: 400;
          font-size: 16px;
          line-height: 16px;
        }
      }

      > span {
        display: inline-block;
        max-width: 143px;
        font-size: 20px;
        line-height: 26px;
        color: var(--gray-color);

        @media (max-width: 992px) {
          max-width: initial;
          font-size: 16px;
          line-height: 18px;
        }

      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;

    @include small-tablet {
      flex-direction: column;
    }
  }

  &__link {
    margin-right: 73px;

    @media (max-width: 992px) {
      margin-right: 30px;
    }

    @include small-tablet {
      margin-bottom: 20px;
      margin-right: 0;
    }
  }

  &__descr {
    margin: 0;
    max-width: 462px;
    font-size: 20px;
    line-height: 26px;
    color: var(--gray-color);

    @include mobile {
      max-width: 100%;
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.graphs {
  display: flex;
  margin-bottom: 100px;

  @include tablet {
    flex-direction: column;
    align-items: center;
  }

  @include small-tablet {
    margin-bottom: 60px;
  }

  &__left {
    position: relative;
    display: flex;
    margin-right: 79px;

    @include tablet {
      margin-bottom: 60px;
      margin-right: 0;

      @include mobile {
        margin-bottom: 30px;
      }
    }

    @include tablet {
      height: 200px;
    }
  }

  &__right {
    position: relative;
    display: flex;
    align-items: flex-end;

    @include tablet {
      height: 200px;
    }
  }

  &__text {
    position: absolute;
    left: 0px;
    top: 0px;
    display: inline-block;
    max-width: 150px;
    font-size: 20px;
    line-height: 26px;
    color: var(--gray-color);
  }
}
