.sponsors-competencies {
  padding-bottom: 122px;

  @include small-tablet {
    padding-bottom: 60px;
  }

  &__title {
    margin-bottom: 26px;
    font-size: 30px;
    line-height: 39px;
    text-align: left;
  }

  &__content {
    display: flex;

    @include tablet {
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-right: 236px;
    padding-top: 10px;
    max-width: 283px;

    @media (max-width: 1100px) {
      margin-right: 60px;
    }

    @include tablet {
      flex-direction: row;
      margin-right: 0;
      max-width: initial;
      margin-bottom: 30px;
    }

    @media (max-width: 864px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }

    @include small-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      row-gap: 20px;
      column-gap: 10px;
    }
  }

  &__item {
    position: relative;
    padding-left: 30px;
    font-size: 20px;
    line-height: 26px;
    color: var(--gray-color);

    @include small-tablet {
      font-size: 18px;
    }

    @media (max-width: 376px) {
      font-size: 17px;
    }

    @include mobile {
      padding-left: 15px;
    }

    & + & {
      margin-top: 25px;

      @include tablet {
        margin-top: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 11px;
      top: 12px;
      border-radius: 50%;
      width: 5px;
      height: 5px;
      background-color: currentColor;
      // transform: translateY(-50%);

      @include mobile {
        left: 0px;
      }
    }
  }

  &__right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - 283px - 236px);

    @media (max-width: 1100px) {
      width: calc(100% - 283px - 60px);
    }

    @include tablet {
      width: 100%;
      gap: 30px;
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__results {
    display: flex;

    &:nth-child(2n + 2) {
      justify-content: flex-end;

      @include tablet {
        justify-content: center;
      }

      @include mobile {
        justify-content: start;
      }
    }

    @include tablet {
      justify-content: center;
    }

    @include mobile {
      justify-content: start;
    }
  }

  &__image {
    margin-right: 12px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    max-width: 135px;

    strong {
      font-weight: 700;
      font-size: 40px;
      line-height: 52px;
      color: var(--accent-color);
    }

    span {
      font-size: 20px;
      line-height: 26px;
      color: var(--gray-color);
    }
  }
}
