.service {
  padding-bottom: 100px;

  @include small-tablet {
    padding-bottom: 60px;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__content {
    display: flex;
    align-items: center;

    @include small-tablet {
      flex-direction: column;
    }
  }

  &__logo {
    margin-right: 71px;

    @media (max-width: 992px) {
      margin-right: 30px;
    }

    @include small-tablet {
      margin-bottom: 20px;
      margin-right: 0;
    }
  }

  &__descr {
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    color: var(--gray-color);

    @include mobile {
      max-width: 100%;
      font-size: 18px;
      line-height: 24px;
    }
  }
}
