.structure {
  padding-bottom: 100px;

  &__title {
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;

    picture {
      display: flex;
      justify-content: center;
      margin-right: 60px;
      width: 115px;
    }

    & + & {
      margin-top: 23px;
    }
  }

  &__caption {
    display: inline-block;
    border-radius: 38px;
    margin-right: 60px;
    padding: 8px 10px;
    width: 261px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.025em;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--accent-color);
  }

  &__arrow {
    display: inline-block;
    margin-right: 60px;
    width: 52px;
    height: 11px;
    background-image: url('../img/structure-arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__text {
    display: inline-block;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--gray-color);
  }
}
