<section class="statistics">
  <div class="container">
    <h2 class="statistics__title title">«Т Плюс» сегодня</h2>
    <ul class="statistics__list list-reset">
      <li class="statistics__item">
        <picture>
          <source srcset="img/statistics-1.avif" type="image/avif">
          <source srcset="img/statistics-1.webp" type="image/webp">
          <img loading="lazy" src="img/statistics-1.png" class="image" width="147" height="72" alt="" aria-hidden="true">
        </picture>
        <div class="statistics__item-text">
          <strong>53</strong>
          <span>электростанции в 16 регионах Росcии</span>
        </div>
      </li>
      <li class="statistics__item">
        <picture>
          <source srcset="img/statistics-4.avif" type="image/avif">
          <source srcset="img/statistics-4.webp" type="image/webp">
          <img loading="lazy" src="img/statistics-4.png" class="image" width="47" height="116" alt="" aria-hidden="true">
        </picture>
        <div class="statistics__item-text">
          <strong>14,5
            <span>ГВт</span>
          </strong>
          <span>установленная электрическая мощность</span>
        </div>
      </li>
      <li class="statistics__item">
        <picture>
          <source srcset="img/statistics-7.avif" type="image/avif">
          <source srcset="img/statistics-7.webp" type="image/webp">
          <img loading="lazy" src="img/statistics-7.png" class="image" width="103" height="103" alt="" aria-hidden="true">
        </picture>
        <div class="statistics__item-text">
          <strong>49</strong>
          <span>ТЭЦ</span>
        </div>
      </li>
      <li class="statistics__item">
        <picture>
          <source srcset="img/statistics-2.avif" type="image/avif">
          <source srcset="img/statistics-2.webp" type="image/webp">
          <img loading="lazy" src="img/statistics-2.png" class="image" width="122" height="54" alt="" aria-hidden="true">
        </picture>
        <div class="statistics__item-text">
          <strong>22 000
            <span>КМ</span>
          </strong>
          <span>протяжённость тепловых сетей</span>
        </div>
      </li>
      <li class="statistics__item">
        <picture>
          <source srcset="img/statistics-5.avif" type="image/avif">
          <source srcset="img/statistics-5.webp" type="image/webp">
          <img loading="lazy" src="img/statistics-5.png" class="image" width="52" height="96" alt="" aria-hidden="true">
        </picture>
        <div class="statistics__item-text">
          <strong>51 400
            <span>Гкал/час</span>
          </strong>
          <span>установленная тепловая мощность</span>
        </div>
      </li>
      <li class="statistics__item">
        <picture>
          <source srcset="img/statistics-8.avif" type="image/avif">
          <source srcset="img/statistics-8.webp" type="image/webp">
          <img loading="lazy" src="img/statistics-8.png" class="image" width="103" height="103" alt="" aria-hidden="true">
        </picture>
        <div class="statistics__item-text">
          <strong>2</strong>
          <span>ГРЭС</span>
        </div>
      </li>
      <li class="statistics__item">
        <picture>
          <source srcset="img/statistics-3.avif" type="image/avif">
          <source srcset="img/statistics-3.webp" type="image/webp">
          <img loading="lazy" src="img/statistics-3.png" class="image" width="63" height="85" alt="" aria-hidden="true">
        </picture>
        <div class="statistics__item-text">
          <strong>>400</strong>
          <span>котельных</span>
        </div>
      </li>
      <li class="statistics__item">
        <picture>
          <source srcset="img/statistics-6.avif" type="image/avif">
          <source srcset="img/statistics-6.webp" type="image/webp">
          <img loading="lazy" src="img/statistics-6.png" class="image" width="70" height="69" alt="" aria-hidden="true">
        </picture>
        <div class="statistics__item-text">
          <strong>48 000</strong>
          <span>сотрудников</span>
        </div>
      </li>
      <li class="statistics__item">
        <picture>
          <source srcset="img/statistics-9.avif" type="image/avif">
          <source srcset="img/statistics-9.webp" type="image/webp">
          <img loading="lazy" src="img/statistics-9.png" class="image" width="103" height="103" alt="" aria-hidden="true">
        </picture>
        <div class="statistics__item-text">
          <strong>2</strong>
          <span>ГЭС</span>
        </div>
      </li>
    </ul>
    <div class="statistics__graphs graphs">
      <div class="graphs__left">
        <picture>
          <source srcset="img/graph-1.avif" type="image/avif">
          <source srcset="img/graph-1.webp" type="image/webp">
          <img loading="lazy" src="img/graph-1.png" class="image" width="573" height="242" alt="">
        </picture>
        <span class="graphs__text">Выручка, млрд/р</span>
      </div>
      <div class="graphs__right">
        <picture>
          <source srcset="img/graph-2.avif" type="image/avif">
          <source srcset="img/graph-2.webp" type="image/webp">
          <img loading="lazy" src="img/graph-2.png" class="image" width="548" height="125" alt="">
        </picture>
        <span class="graphs__text">Консолидированная EBITDA, млрд/р</span>
      </div>
    </div>
    <div class="statistics__bottom">
      <a class="statistics__link" href="#">
      <img loading="lazy" src="img/statistics-logo.png" width="288" height="93" alt="Логотип Энергосбыт">
      </a>
      <p class="statistics__descr">АО «ЭнергосбыТ Плюс» - объединённая энергосбытовая компания группы «Т Плюс».</p>
    </div>
  </div>
</section>
