<section class="hero">
  <div class="container hero__container">
    <h1 class="visually-hidden">Группа Т-Плюс</h1>
    <div class="swiper slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide slider-slide">
          <div class="slider-slide__content">
            <h3 class="slider-slide__title">Кэс Холдинг</h3>
            <div class="slider-slide__images">
              <picture>
                <source srcset="img/slider-1.avif" type="image/avif">
                <source srcset="img/slider-1.webp" type="image/webp">
                <img loading="lazy" src="img/slider-1.png" class="image" width="189" height="189" alt=""
                  aria-hidden="true">
              </picture>
              <span class="slider-slide__text">Создано ЗАО «Комплексные энергетические системы» («КЭС Холдинг»)</span>
            </div>
            <span class="slider-slide__year">2002</span>
          </div>
        </div>
        <div class="swiper-slide slider-slide">
          <div class="slider-slide__content">
            <h3 class="slider-slide__title">Волжская ТГК</h3>
            <div class="slider-slide__images">
              <picture>
                <source srcset="img/slider-2.avif" type="image/avif">
                <source srcset="img/slider-2.webp" type="image/webp">
                <img loading="lazy" src="img/slider-2.png" class="image" width="189" height="189" alt=""
                  aria-hidden="true">
              </picture>
              <span class="slider-slide__text">Создано ОАО «Волжская ТГК»</span>
            </div>
            <span class="slider-slide__year">2005</span>
          </div>
        </div>
        <div class="swiper-slide slider-slide">
          <div class="slider-slide__content">
            <h3 class="slider-slide__title">Консолидация активов</h3>
            <div class="slider-slide__images">
              <picture>
                <source srcset="img/slider-3.avif" type="image/avif">
                <source srcset="img/slider-3.webp" type="image/webp">
                <img loading="lazy" src="img/slider-3.png" class="image" width="189" height="189" alt=""
                  aria-hidden="true">
              </picture>
              <span class="slider-slide__text">Консолидация активов ОАО «ТГК-5», ОАО «ТГК-6», ОАО «ТГК-9», ОАО
                «Оренбургская ТГК» и других компаний «КЭС Холдинга» на базе ОАО «Волжская ТГК»</span>
            </div>
            <span class="slider-slide__year">2014</span>
          </div>
        </div>
        <div class="swiper-slide slider-slide">
          <div class="slider-slide__content">
            <h3 class="slider-slide__title">Т ПЛЮС</h3>
            <div class="slider-slide__images">
              <picture>
                <source srcset="img/slider-4.avif" type="image/avif">
                <source srcset="img/slider-4.webp" type="image/webp">
                <img loading="lazy" src="img/slider-4.png" class="image" width="189" height="189" alt=""
                  aria-hidden="true">
              </picture>
              <span class="slider-slide__text">Переименование ОАО «Волжская ТГК» в ПАО «Т Плюс»</span>
            </div>
            <span class="slider-slide__year">2015</span>
          </div>
        </div>
        <div class="swiper-slide slider-slide">
          <div class="slider-slide__content">
            <h3 class="slider-slide__title">Завершение проектов ДПМ</h3>
            <div class="slider-slide__images">
              <picture>
                <source srcset="img/slider-1.avif" type="image/avif">
                <source srcset="img/slider-1.webp" type="image/webp">
                <img loading="lazy" src="img/slider-1.png" class="image" width="189" height="189" alt=""
                  aria-hidden="true">
              </picture>
              <span class="slider-slide__text">Завершение начатой в 2009 году программы создания новых мощностей по ДМП</span>
            </div>
            <span class="slider-slide__year">2016</span>
          </div>
        </div>
        <div class="swiper-slide slider-slide">
          <div class="slider-slide__content">
            <h3 class="slider-slide__title">Развитие Виэ</h3>
            <div class="slider-slide__images">
              <picture>
                <source srcset="img/slider-2.avif" type="image/avif">
                <source srcset="img/slider-2.webp" type="image/webp">
                <img loading="lazy" src="img/slider-2.png" class="image" width="189" height="189" alt=""
                  aria-hidden="true">
              </picture>
              <span class="slider-slide__text">запущена крупнейшая солнечная электростанция в единой энергосистеме</span>
            </div>
            <span class="slider-slide__year">2018</span>
          </div>
        </div>
        <div class="swiper-slide slider-slide">
          <div class="slider-slide__content">
            <h3 class="slider-slide__title">Стратегия 2032</h3>
            <div class="slider-slide__images">
              <picture>
                <source srcset="img/slider-1.avif" type="image/avif">
                <source srcset="img/slider-1.webp" type="image/webp">
                <img loading="lazy" src="img/slider-1.png" class="image" width="189" height="189" alt=""
                  aria-hidden="true">
              </picture>
              <span class="slider-slide__text">принятие стратегии-2032, ставка на комплексное развитие теплоснабжения городов</span>
            </div>
            <span class="slider-slide__year">2019</span>
          </div>
        </div>
        <div class="swiper-slide slider-slide">
          <div class="slider-slide__content">
            <h3 class="slider-slide__title">Цифровизация</h3>
            <div class="slider-slide__images">
              <picture>
                <source srcset="img/slider-2.avif" type="image/avif">
                <source srcset="img/slider-2.webp" type="image/webp">
                <img loading="lazy" src="img/slider-2.png" class="image" width="189" height="189" alt=""
                  aria-hidden="true">
              </picture>
              <span class="slider-slide__text">Реализация программы цифровой трансформации всех бизнес направлений</span>
            </div>
            <span class="slider-slide__year">2020</span>
          </div>
        </div>
        <div class="swiper-slide slider-slide">
          <div class="slider-slide__content">
            <h3 class="slider-slide__title">ДПМ-2</h3>
            <div class="slider-slide__images">
              <picture>
                <source srcset="img/slider-1.avif" type="image/avif">
                <source srcset="img/slider-1.webp" type="image/webp">
                <img loading="lazy" src="img/slider-1.png" class="image" width="189" height="189" alt=""
                  aria-hidden="true">
              </picture>
              <span class="slider-slide__text">Начать реновацию мощностей по ДПМ-2</span>
            </div>
            <span class="slider-slide__year">2021</span>
          </div>
        </div>
      </div>
    </div>
    <button class="slider-btn-prev btn-reset" aria-label="Следующий слайд">
      <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M17.5 0C7.8575 0 0 7.8575 0 17.5C0 27.1425 7.8575 35 17.5 35C27.1425 35 35 27.1425 35 17.5C35 7.8575 27.1425 0 17.5 0ZM20.265 18.34L16.765 22.5575C16.5025 22.8725 16.135 23.03 15.75 23.03C15.4525 23.03 15.155 22.9425 14.91 22.7325C14.3675 22.2775 14.28 21.455 14.735 20.895L17.5525 17.5L14.735 14.105C14.28 13.545 14.3675 12.7225 14.91 12.2675C15.47 11.795 16.31 11.8825 16.765 12.4425L20.265 16.66C20.6675 17.15 20.6675 17.85 20.265 18.34Z"
          fill="#F0F2F5" />
      </svg>
    </button>
    <button class="slider-btn-next btn-reset" aria-label="Следующий слайд">
      <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M17.5 0C7.8575 0 0 7.8575 0 17.5C0 27.1425 7.8575 35 17.5 35C27.1425 35 35 27.1425 35 17.5C35 7.8575 27.1425 0 17.5 0ZM20.265 18.34L16.765 22.5575C16.5025 22.8725 16.135 23.03 15.75 23.03C15.4525 23.03 15.155 22.9425 14.91 22.7325C14.3675 22.2775 14.28 21.455 14.735 20.895L17.5525 17.5L14.735 14.105C14.28 13.545 14.3675 12.7225 14.91 12.2675C15.47 11.795 16.31 11.8825 16.765 12.4425L20.265 16.66C20.6675 17.15 20.6675 17.85 20.265 18.34Z"
          fill="#F0F2F5" />
      </svg>
    </button>
    <div class="slider-scroll"></div>
  </div>
</section>
