<section class="info">
  <div class="container info__container">
    <aside class="info__left info-left">
      <ul class="info-left__list list-reset">
        <li class="info-left__item">
          <strong>3,5</strong>
          <span>доля на розничном рынке электроэнергии России</span>
        </li>
        <li class="info-left__item">
          <strong>16</strong>
          <span>регионов</span>
        </li>
        <li class="info-left__item">
          <strong>287</strong>
          <span>офисов</span>
        </li>
        <li class="info-left__item">
          <strong>238</strong>
          <span>населённых пунктов</span>
        </li>
        <li class="info-left__item">
          <strong>7</strong>
          <span>регионов статус гарантирующего поставщика</span>
        </li>
      </ul>
    </aside>
    <div class="info__right">
      <article class="info__clients clients">
        <div class="clients__left">
          <h2 class="clients__title title">Клиенты</h2>
          <div class="clients__item">
            <img loading="lazy" src="img/individuals.png" class="clients__image" width="50" height="50" alt="" aria-hidden="true">
            <span class="clients__text">Физические лица</span>
          </div>
          <div class="clients__item">
            <img loading="lazy" src="img/statistics-6.png" class="clients__image" width="50" height="50" alt="" aria-hidden="true">
            <span class="clients__text">Юридические лица  </span>
          </div>
        </div>
        <div class="clients__center">
          <div class="clients__caption electricity">
            <img loading="lazy" src="img/statistics-4.png" class="clients__image" width="38" height="94" alt="" aria-hidden="true">
            <span class="clients__text">электроэнергия</span>
          </div>
          <div class="clients__num">
            4,3
            <span class="clients__num-text">Млн</span>
          </div>
          <div class="clients__num">
            122
            <span class="clients__num-text">Тыс</span>
          </div>
        </div>
        <div class="clients__right">
          <div class="clients__caption thermal">
            <img loading="lazy" src="img/thermal-energy.png" class="clients__image" width="48" height="60" alt="" aria-hidden="true">
            <span class="clients__text">тепловая энергия</span>
          </div>
          <div class="clients__num">
            3,5
            <span class="clients__num-text">Млн</span>
          </div>
          <div class="clients__num">
            144
            <span class="clients__num-text">Тыс</span>
          </div>
        </div>
      </article>
      <article class="info__consumers consumers">
        <h2 class="consumers__title title">Потребители</h2>
        <ul class="consumers__list list-reset">
          <li class="consumers__item">
            <div class="consumers__item-top">
              <img loading="lazy" src="img/individuals.png" class="consumers__image" width="50" height="50" alt="" aria-hidden="true">
              <strong class="consumers__item-title">
                >7
                <span>млн</span>
              </strong>
            </div>
            <span class="consumers__item-text">физических лиц</span>
          </li>
          <li class="consumers__item">
            <div class="consumers__item-top">
              <img loading="lazy" src="img/statistics-6.png" class="consumers__image" width="50" height="50" alt="" aria-hidden="true">
              <strong class="consumers__item-title">
                >180
                <span>тыс</span>
              </strong>
            </div>
            <span class="consumers__item-text">юридических лиц</span>
          </li>
        </ul>
      </article>
    </div>
  </div>
</section>
