<section class="regions">
  <div class="container regions__container">
    <div class="regions__left">
      <div class="regions__item">1.Владимирская область</div>
      <div class="regions__item">2.Ивановская область</div>
      <div class="regions__item">3.Республика Коми</div>
      <div class="regions__item">4.Кировская область</div>
      <div class="regions__item">5.Республика Марий Эл</div>
      <div class="regions__item">6.Чувашская республика</div>
      <div class="regions__item">7.Республика Мордовия</div>
      <div class="regions__item">8.Нижегородская область</div>
    </div>
    <div class="regions__right">
      <div class="regions__item">9.Оренбургская область</div>
      <div class="regions__item">10.Пензенская область</div>
      <div class="regions__item">11.Пермский край</div>
      <div class="regions__item">12.Самарская область</div>
      <div class="regions__item">13.Саратовская область</div>
      <div class="regions__item">14.Свердловская область</div>
      <div class="regions__item">15.Удмуртская область</div>
      <div class="regions__item">16.Ульяновская область</div>
    </div>
    <div class="regions__image">
      <img loading="lazy" src="img/regions-map.png" class="image" width="495" height="600" alt="Регионы, в которых мы работаем" aria-hidden="true">
    </div>
  </div>
</section>
