<section class="regions">
  <div class="container regions__container">
    <div class="regions__left">
      <a class="regions__link" href="#">1.Владимирская область</a>
      <a class="regions__link" href="#">2.Ивановская область</a>
      <a class="regions__link" href="#">3.Республика Коми</a>
      <a class="regions__link" href="#">4.Кировская область</a>
      <a class="regions__link" href="#">5.Республика Марий Эл</a>
      <a class="regions__link" href="#">6.Чувашская республика</a>
      <a class="regions__link" href="#">7.Республика Мордовия</a>
      <a class="regions__link" href="#">8.Нижегородская область</a>
    </div>
    <div class="regions__right">
      <a class="regions__link" href="#">9.Оренбургская область</a>
      <a class="regions__link" href="#">10.Пензенская область</a>
      <a class="regions__link" href="#">11.Пермский край</a>
      <a class="regions__link" href="#">12.Самарская область</a>
      <a class="regions__link" href="#">13.Саратовская область</a>
      <a class="regions__link" href="#">14.Свердловская область</a>
      <a class="regions__link" href="#">15.Удмуртская область</a>
      <a class="regions__link" href="#">16.Ульяновская область</a>
    </div>
    <div class="regions__image">
      <picture>
        <source srcset="img/full-map.png" media="(max-width: 1260px)">
        <img loading="lazy" src="img/regions-map.png" class="image" width="495" height="600" alt="Регионы, в которых мы работаем" aria-hidden="true">
      </picture>
    </div>
  </div>
</section>
