<section class="sponsors-service">
  <div class="container sponsors-service__container">
    <h2 class="sponsors-service__title title">Энергосервис</h2>
    <div class="sponsors-service__content">
      <a class="sponsors-service__logo" href="#">
        <img loading="lazy" src="img/service-logo.svg" class="image" width="288" height="132" alt="Т-Плюс ремонт">
      </a>
      <p class="sponsors-service__descr">
        АО «ЭнергоремонТ Плюс» - богатый опыт энергосервиса любого оборудования.
      </p>
    </div>
  </div>
</section>
