<section class="structure">
  <div class="container">
    <h2 class="structure__title title">Структура бизнеса</h2>
    <ul class="structure__list list-reset">
      <li class="structure__item">
        <picture>
          <source srcset="img/structure-1.avif" type="image/avif">
          <source srcset="img/structure-1.webp" type="image/webp">
          <img loading="lazy" src="img/structure-1.png" class="image" width="114" height="56" alt="" aria-hidden="true">
        </picture>
        <span class="structure__caption">Т-плюс</span>
        <span class="structure__arrow"></span>
        <span class="structure__text">Производство электроэнергии и тепла</span>
      </li>
      <li class="structure__item">
        <picture>
          <source srcset="img/structure-2.avif" type="image/avif">
          <source srcset="img/structure-2.webp" type="image/webp">
          <img loading="lazy" src="img/structure-2.png" class="image" width="114" height="47" alt="" aria-hidden="true">
        </picture>
        <span class="structure__caption">Теплосетевые компании</span>
        <span class="structure__arrow"></span>
        <span class="structure__text">Передача тепла</span>
      </li>
      <li class="structure__item">
        <picture>
          <source srcset="img/structure-3.avif" type="image/avif">
          <source srcset="img/structure-3.webp" type="image/webp">
          <img loading="lazy" src="img/structure-3.png" class="image" width="57" height="57" alt="" aria-hidden="true">
        </picture>
        <span class="structure__caption">Инжиниринг</span>
        <span class="structure__arrow"></span>
        <span class="structure__text">Строительство и управление объектами генерации</span>
      </li>
      <li class="structure__item">
        <picture>
          <source srcset="img/structure-4.avif" type="image/avif">
          <source srcset="img/structure-4.webp" type="image/webp">
          <img loading="lazy" src="img/structure-4.png" class="image" width="64" height="52" alt="" aria-hidden="true">
        </picture>
        <span class="structure__caption">Энергосбыт Плюс</span>
        <span class="structure__arrow"></span>
        <span class="structure__text">Розничная продажа электроэнергии и тепла</span>
      </li>
      <li class="structure__item">
        <picture>
          <source srcset="img/structure-5.avif" type="image/avif">
          <source srcset="img/structure-5.webp" type="image/webp">
          <img loading="lazy" src="img/structure-5.png" class="image" width="65" height="65" alt="" aria-hidden="true">
        </picture>
        <span class="structure__caption">Энергоремонт Плюс</span>
        <span class="structure__arrow"></span>
        <span class="structure__text">Обслуживание и ремонт</span>
      </li>
    </ul>
  </div>
</section>
